ul {
  padding-left: 0;
}

.tables {
  background-color: #f9f9f9;

  ul {
    padding-top: 6px;
  }

  li {
    list-style-type: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.table-row {
  overflow: scroll;
  margin-left: 20px;

  td {
    white-space: nowrap;
    max-width: 60em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.query-box {
  margin-left: 20px;
  margin-bottom: 0px;

  textarea {
    resize: none;
    height: 100px;
    font-family: monospace;
    font-size: 15px;
  }
}

.component-container {
  margin-top: 20px;
}

#credentials-modal {
  display: none;
}

.query-feedback {
  margin-right: 0px;
  margin-left: 0px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sql-error-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
  }
}

.pages {
  display: inline;
  margin-right: auto;
  margin-bottom: 0px;

  .page {
    list-style-type: none;
    display: inline;
  }
}
